.addContactBtn {
    top: 28px;
    left: 720px;
    width: 140px;
}

.modal-title {
    text-align: center;
}

/* input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #1976d2 !important;
    font-size: 20px;
}

.input-field .prefix.active {
    color: #1976d2 !important;
} */