.addContactBtn {
    top: 28px;
    left: 800px;
    width: 140px;
    color: black !important;
}

.modal-title {
    text-align: center;
}

placeholder {
    color: black;
}

.menu-icons {
    margin: 0 15px;
}

