/* ---------------------------------
       PRIMARY STYLES
--------------------------------- */

html {
    font-size: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    touch-action: manipulation;
}


body {
    font-size: 16px;
    font-family: 'Poppins', serif;
    width: 100%;
    height: 100%;
    margin: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    color: rgb(245, 245, 245) !important;
    /* background-color: rgb(75, 40, 38) !important; */
    /* background-color: rgb(98, 117, 151) !important; */
    background: rgb(91, 85, 76);
    background: -moz-radial-gradient(circle, rgba(91, 85, 76, 1) 0%, rgba(75, 40, 38, 1) 91%);
    background: -webkit-radial-gradient(circle, rgba(91, 85, 76, 1) 0%, rgba(75, 40, 38, 1) 91%);
    background: radial-gradient(circle, rgba(91, 85, 76, 1) 0%, rgba(75, 40, 38, 1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b554c", endColorstr="#4b2826", GradientType=1);

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img,
input,
button {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    font-weight: inherit;
}

h1,
h2,
h3 {
    font-family: 'Poppins', cursive;
}

p {
    line-height: 1.6;
    font-size: 1.05em;
    font-weight: 400;
    color: #777;
}

h1 {
    font-size: 4em;
    line-height: 1;
}

h2 {
    font-size: 2.2em;
    line-height: 1.1;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .9em;
    letter-spacing: 1px;
}

a,
button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    line-height: 1;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover,
a b.light-color:hover {
    text-decoration: none;
}

b {
    font-weight: 600;
}

img {
    width: 100%;
}

li {
    list-style: none;
    display: inline-block;
}

span {
    display: inline-block;
}

button {
    outline: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

.icon {
    font-size: 1.1em;
    display: inline-block;
    line-height: inherit;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    line-height: inherit;
}

b.max-bold {
    font-weight: 700;
}

.page-title,
.search {
    font-family: 'Questrial', sans-serif;

}

.page-title {
    margin-top: 20px;
    text-align: center;
    font-size: 42pt;
    letter-spacing: 1pt;

}

.job-table {
    margin-top: 40px;
}

.setWidth {
    max-width: 100px;
}

.concat div {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: inherit;
}

.job-form {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

input#fileButton {
    width: 460px;
    color: #000;

}

.spyGlass {
    color: #fff;
}

.modal {
    position: absolute;
    z-index: 9999;
    overflow-x: auto;
}

.modal-body label {
    color: #000;
}

.imageModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 290px !important;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    width: 830px !important;
    margin-top: 20px !important;
}

.modal-header {
    background-color: rgb(202, 92, 8);
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1400px !important;
    }
}

.tableButton {
    width: 40px;
}

#clearform {
    color: rgb(49, 49, 168);
    background-color: whitesmoke;
    border-color: rgb(49, 49, 168);
    margin-top: 4mm;
}

thead {
    text-align: center;
    background-color: rgb(202, 92, 8);
    font-family: 'Questrial', sans-serif;
    font-size: 15pt !important;
    color: rgb(24, 23, 23);
    text-transform: uppercase;
}

.table-bordered {
    margin-bottom: 20px;
}

#table {
    width: 374mm;
    position: relative;
    right: 36mm;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
}

.rowBtn {
    width: 20mm;
    margin-top: 4mm;

}

.search {
    height: 10mm;
    width: 100mm;
    position: relative;
    right: 31mm;
    margin-bottom: 5mm;
    position: relative;
    color: #aaa;
    font-size: 16px;
}

.search input {
    width: 100mm;
    height: 44px;
    position: absolute;
    right: 5mm;
    background: #fcfcfc;
    /* border: 1px solid rgb(151, 218, 26); */
    border-radius: 2px;
    /* box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset; */
    background-color: #aaa;
    color: #fff;
}

.search input {
    text-indent: 32px;
}

.search .fa-search {
    position: absolute;
    top: 3.3mm;
    right: 98mm;
    z-index: 9999;

}

.clearSearch {
    position: absolute;
    left: 99mm;
    background-color: transparent !important;
    border: 2px solid cornflowerblue;
    color: #fff;
    height: 43px;
}

.editJob {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(61, 141, 51) !important;
    border-color: rgb(61, 141, 51) !important;
}

.deleteJob {
    color: whitesmoke !important;
    background-color: rgb(192, 82, 68) !important;
    border-color: rgb(192, 82, 68) !important;
}

.dateColumn {
    width: 9%;
    text-align: center;
}

#spacer {
    width: 100%;
    height: 50mm;
    border: 1px solid transparent;
}

.form-control {
    background-color: #e7e7e7b2 !important;
    /* border: 2px solid rgb(151, 218, 26) !important; */
    /* box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset; */
}


/* #displayImg {
    position: absolute;
    left: 25%;
    height: 100mm;
    width: 50mm;
} */

#testBtn,
#tableBtn {
    position: relative;
    left: 359mm;
    bottom: 28mm;
    margin: 5mm;
}

#testBtn {
    background-color: white;
    color: black;
}

.progress {
    margin-bottom: 10px;

}

#uploader {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 10px;
}

#getImageFileName {
    position: absolute;
    left: 199mm;
    bottom: 95mm;
    height: 10mm;
    width: 110mm;
    font-size: 17pt;
}

.imageFileNameLabel {
    position: absolute;
    left: 158mm;
    bottom: 94mm;
    color: black;
    font-size: 15pt;
}


.newJobBtn {
    position: absolute;
    left: 356mm;
    top: 102px;
}

.modal-title {
    position: absolute;
    left: 16px;
    font-size: 20pt;
}

#imageDisplay {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.statusOptions {
    color: aqua;
}

td {
    background-color: rgba(119, 119, 119, 0.377);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }
}


/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {

    .modal-content {
        z-index: 9999;
        width: 395px !important;
        padding-bottom: 75px;

    }

    input#fileButton {
        /* border: 1px solid #000 !important; */
        /* background-color: lightgray; */
        width: 361px;
        /* border-radius: 4px; */
        color: #000;
        z-index: -1;

    }

    input#search {
        position: absolute;
        left: 132px;
        width: 310px;

    }

    .clearSearch {
        position: relative;
        left: 450px;
    }

    .modal-body label {
        color: #000;
    }

    .newJobBtn {
        overflow-x: auto;
        position: absolute;
        left: 15px;
        top: 151px;
        width: 380px;
    }

    #table {
        width: 100%;
        top: 70px;
        left: 17px;
        padding-bottom: 130px;

    }

    #imageDisplay {
        margin-top: 80px;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }

    .search .fa-search {
        color: #fff;
        position: absolute;
        top: 3.3mm;
        right: 59mm;
        z-index: 1;
    }

    .form-group {
        margin-top: 2px !important;
    }

    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {

        /* Styles */
        .modal-content {
            z-index: 9999;
            width: 395px !important;
            padding-bottom: 75px;

        }

        input#fileButton {
            border: 1px solid #000 !important;
            background-color: lightgray;
            width: 361px;
            border-radius: 4px;
            color: #000;
            z-index: -1;

        }

        input#search {
            position: absolute;
            left: 132px;
            width: 310px;

        }

        .clearSearch {
            position: relative;
            left: 450px;
        }

        .modal-body label {
            color: #000;
        }

        .newJobBtn {
            overflow-x: auto;
            position: absolute;
            left: 465px;
            top: 101px;
            width: 110px;
        }

        #table {
            width: 524px !important;
            top: 10px;
            left: 7px;
            padding-bottom: 130px;

        }

        #imageDisplay {
            margin-top: 80px;
            width: 85%;
            margin-right: auto;
            margin-left: auto;
        }

        .search .fa-search {
            color: #fff;
            position: absolute;
            top: 3.3mm;
            right: 59mm;
            z-index: 1;
        }
    }

    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {

        /* Styles */
        .modal-content {
            z-index: 9999;
            width: 395px !important;
            padding-bottom: 75px;

        }

        input#fileButton {
            border: 1px solid #000 !important;
            background-color: lightgray;
            width: 361px;
            border-radius: 4px;
            color: #000;
            z-index: -1;

        }

        input#search {
            position: absolute;
            left: 128px;
            width: 300px;

        }

        .clearSearch {
            position: relative;
            left: 440px;
        }

        .modal-body label {
            color: #000;
        }

        .newJobBtn {
            overflow-x: auto;
            position: absolute;
            left: 11px;
            top: 154px;
            width: 377px;
        }

        #table {
            width: 524px !important;
            top: 57px;
            left: 7px;
            padding-bottom: 130px;

        }

        #imageDisplay {
            margin-top: 80px;
            width: 85%;
            margin-right: auto;
            margin-left: auto;
        }

        .search .fa-search {
            color: #fff;
            position: absolute;
            top: 3.3mm;
            right: 59mm;
            z-index: 1;
        }
    }
}