body {
    background-color: #eceff1
}

a.brand-logo {
    left: 20px;
}

.nav-wrapper {
    font-family: 'Work Sans', sans-serif;
}

.title h1 {
    font-size: 80px;
    text-align: center;
}

.large-icon {
    font-size: 50px !important;
}

/* .active {
    border-bottom: 5px solid #f4511e;
    margin: 2px;
    bottom: 5px;

} */

nav ul li:hover {
    background-color: #cfd8dc;
    color: #01579b
}

nav ul a {
    font-size: 1.5rem !important;
}

nav ul li>a:hover {
    /* color: #f4511e; */
    color: #01579b;
    text-decoration: none;
}

hr {
    width: 80%;
    background-color: #01579b;
}

.copyright-wrapper {
    position: absolute;
    left: 510px;
    width: 100%;
    top: 870px;
}

nav .brand-logo:hover {
    text-decoration: none;
    opacity: .8;
}