/* MEDIA QUERIES */

@media only screen and (max-width: 420px) {

    .modal-content {
        z-index: 9999;
        width: 395px !important;
        padding-bottom: 75px;
    }

    input#fileButton {
        width: 361px;
        color: #000;
        z-index: -1;
    }

    .search-wrapper {
        position: relative;
        bottom: 64px;
        width: 100%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .clearSearch {
        position: absolute;
        left: 310px;
        bottom: 13px;
    }

    .modal-body label {
        color: #000;
    }

    .newJobBtn {
        overflow-x: auto;
        position: relative;
        left: 12px;
        top: 11px;
        width: 360px;
    }

    #table {
        width: 100%;
        position: relative;
        bottom: 30px;
        left: 17px;
    }

    #imageDisplay {
        margin-top: 80px;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }

    .search {
        height: 15mm;
        width: 100%;
        bottom: 83px;
        position: relative;
        color: #aaa;
        font-size: 16px;
        margin-left: 124px;
        margin-top: 17px;
    }

    .search .fa-search {
        color: #fff;
        position: relative;
        left: 14px;
        margin-top: 7px;
        z-index: 1;
    }

    .form-group {
        margin-top: 2px !important;
    }

    /* 
    #logoutBtn {
        position: relative;
        left: 82mm;
        bottom: 0;
        margin: 5mm;
        background-color: transparent;
        color: white;
    } */
}