.modal {
    position: absolute;
    z-index: 9999;
    overflow-x: auto;
}

.modal-body label {
    color: #000;
}

.imageModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 290px !important;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    width: 830px !important;
    margin-top: 20px !important;
}

.modal-header {
    background-color: rgb(202, 92, 8) !important;
}

.form-control {
    background-color: #e7e7e7b2 !important;
}

.progress {
    margin-bottom: 10px;
}

#uploader {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 10px;
}

#getImageFileName {
    position: absolute;
    left: 199mm;
    bottom: 95mm;
    height: 10mm;
    width: 110mm;
    font-size: 17pt;
}

.imageFileNameLabel {
    position: absolute;
    left: 158mm;
    bottom: 94mm;
    color: black;
    font-size: 15pt;
}


.modal-title {
    position: absolute;
    left: 16px;
    font-size: 20pt;
}

#imageDisplay {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.statusOptions {
    color: aqua;
}

#clearModalBtn {
    color: rgb(49, 49, 168);
    background-color: whitesmoke;
    border-color: rgb(49, 49, 168);
    margin-top: 4mm;
}

.modal-form-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}












@media (min-width: 992px) {
    .modal-lg {
        max-width: 1400px !important;
    }
}