/* materialize */
.jobSearch {
    width: 680px;
    position: relative;
    top: 67px;
    right: 377px;

}

.jobClearSearchBtn {
    left: 10px;
    top: 28px;
    width: 140px;
    color: black !important;
}