#jobs-table {
    text-align: center;
    width: 1420px;
    position: absolute;
    top: 370px;
    left: 10px;
    border: 1px solid grey;
    border-radius: 6px;
    background-color: rgb(245, 241, 241);

}

#table {
    text-align: center;
    width: 973px;
    position: absolute;
    top: 370px;
    left: 10px;
    border: 1px solid grey;
    border-radius: 6px;
    background-color: rgb(245, 241, 241);

}

thead {
    background-color: rgba(0, 29, 91, 0.342);

}