#table {
    /* width: 100%;
    position: relative;
    font-size: 12pt;
    font-weight: 600; */
    text-align: center;
}

thead {
    text-align: center;
    background-color: rgb(202, 92, 8);
    font-family: 'Questrial', sans-serif;
    font-size: 15pt !important;
    color: rgb(24, 23, 23);
    text-transform: uppercase;
}

td {
    background-color: rgba(119, 119, 119, 0.377);
}

.table-bordered {
    margin-bottom: 20px;
}

.rowBtn {
    width: 20mm;
    margin-top: 4mm;

}

.tableEditBtn {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(61, 141, 51) !important;
    border-color: rgb(61, 141, 51) !important;
}