#table {
    text-align: center;
    width: 973px;
    position: absolute;
    top: 370px;
    left: 10px;
    border: 1px solid grey;
    border-radius: 6px;
    background-color: rgb(243, 241, 241);

}

thead {
    background-color: rgba(0,87,155,.8);
    color: rgb(243, 241, 241);

}